{{ "<!-- Header -->" | safeHTML }}
    <header id="header"{{ if or .IsHome (eq .Params.layout "services") (eq .Params.layout "about") }} class="alt"{{ end }}>
        <a href="{{ .Site.BaseURL }}" class="logo">{{ if .Site.Params.Navigation.logo }}<img src="{{ printf "img/%s" .Site.Params.Navigation.logo | relURL }}" alt="{{ .Site.Title }}" />{{ else }}<strong>{{ .Site.Params.Navigation.title }}</strong> <span>{{ .Site.Params.Navigation.subtitle }}</span>{{ end }}</a>
        <nav>
            <a href="#menu">{{ .Site.Params.Navigation.menu }}</a>
        </nav>
    </header>

{{ "<!-- Menu -->" | safeHTML }}
    <nav id="menu">
        <ul class="links">
            {{ range .Site.Params.Navigation.links }}
                <li><a href="{{ .url | relURL }}">{{ .name }}</a></li>
            {{ end }}
        </ul>
        {{ if or .Site.Params.Navigation.button1 .Site.Params.Navigation.button2 }}
        <ul class="actions vertical">
            {{ range .Site.Params.Navigation.button1 }}
                <li><a href="{{ .url | relURL }}" class="button special fit">{{ .name }}</a></li>
            {{ end }}
            {{ range .Site.Params.Navigation.button2 }}
                <li><a href="{{ .url | relURL }}" class="button fit">{{ .name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
