<!DOCTYPE HTML>
<html lang="{{ with .Site.Language.Locale }}{{ . }}{{ else }}en-US{{ end }}">
	{{ partial "header.html" . }}
	<body>
		<div id="wrapper">
			{{ partial "nav.html" . }}
			{{ partial "banner.html" . }}

			<div id="main">
				{{ if .Site.Params.Tiles.enable }}
					{{ partial "tile.html" . }}
				{{ end }}

				{{ if .Site.Params.Two.enable }}
					{{ partial "two.html" . }}
				{{ end }}
			</div>

			{{ if .Site.Params.Footer.enable }}
				{{ partial "footer.html" . }}
			{{ end }}
		</div>

		{{ partial "js.html" . }}
	</body>
</html>
